rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    // Allow read for /userdata/public
    match /userdata/public/{document=**} {
      allow read: if true;
    }
    // Allow read/write to collaborators collection for logged in users
    match /collaborators_invites/{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    match /collaborators/{document=**} {
      allow read, write: if request.auth.uid != null;
    }

    // Allow read/write for /userdata/{userID}
    match /userdata/{userID}/{document=**} {
      allow read, write: if request.auth.uid == userID;
    }
    // Allow read and write access to product data for collaborators
    match /userdata/{user_id}/products/{product_id} {
      // allow read, write: if request.auth.uid == user_id;
      allow read, write: if exists(/databases/$(database)/documents/userdata/$(user_id)/products/$(product_id)/collaborators/$(request.auth.uid));
    }
  }
}